.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.example-track {
  color: grey;
  background-color: rgb(220, 219, 219);
  height: 1.5px;
  display: flex;
  align-items: center;
  position: relative;
  top: 14px;
}

.example-track-1 {
  justify-content: center;
}


.Toastify__toast--success {
  background: #040213c8 !important;
}
.Toastify__toast--error {
  background: #eb1c2097 !important;
}
.Toastify__toast--warning{
  background: #040213c8 !important;
}
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: white; /* #10171D */
  font-size: 0.875rem !important;
}
.toastProgress {
  background: #000204 !important;
}